.header {
    padding: 4rem 10rem;
    background-color: #0940a7;
    font-family: Poppins;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.body {
    width: 20%;
    margin: 5rem auto;
    border: 1px solid #1360ef;
    border-radius: 8px;
    padding: 2rem;
    text-align: center;
    font-family: Poppins;
}

.fileChooserFieldWrapper {
    padding: 1rem;
}